# Игнорируем все socket-файлы (uWSGI, Daphne и т.п.)
*.sock
uwsgi_app.sock

# Дополнительно можно игнорировать логи, виртуальные окружения, кеши и прочее:
*.pyc
__pycache__/
*.log

# Папки с persisted-данными (если их монтируете, чтобы не заливать в образ)
data/
