{% extends "base.html" %}
{% load cache %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
  {% if module %}
    <h1>
      {{ module.title }}
    </h1>
  {% else %}
    <h1>В курсе пока нет модулей</h1>
  {% endif %}
  <div class="contents">
    <h3>Модули</h3>
    <ul id="modules">
      {% for m in object.modules.all %}
        <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
          <a href="{% url "student_course_detail_module" object.id m.id %}">
            <span>
              Модуль <span class="order">{{ m.order|add:1 }}</span>
            </span>
            <br>
            {{ m.title }}
          </a>
        </li>
      {% empty %}
        <li>Модулей пока нет.</li>
      {% endfor %}
    </ul>
    <h3>
      <a href="{% url "chat:course_chat_room" object.id %}">
        Чат курса
      </a>
    </h3>
  </div>
  {% if module %}
    <div class="module">
      {% if module.lessons.all|length %}
        {% for lesson in module.lessons.all %}
          <h2>{{ lesson.title }}</h2>
          {% cache 600 lesson_steps lesson %}
            {% for step in lesson.steps.all %}
              {% with item=step.item %}
                <h3>{{ item.title }}</h3>
                {{ item.render }}
              {% endwith %}
            {% empty %}
              <p>Шагов пока нет.</p>
            {% endfor %}
          {% endcache %}
        {% empty %}
          <p>Уроков пока нет.</p>
        {% endfor %}
      {% else %}
        {% cache 600 module_contents module %}
          {% for content in module.contents.all %}
            {% with item=content.item %}
              <h2>{{ item.title }}</h2>
              {{ item.render }}
            {% endwith %}
          {% empty %}
            <p>Материалов пока нет.</p>
          {% endfor %}
        {% endcache %}
      {% endif %}
      {% if module.tests.all %}
        <h2>Тесты</h2>
        <ul>
        {% for test in module.tests.all %}
          <li><a href="{% url 'student_test_take' test.id %}">{{ test.title }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if module.assignments.all %}
        <h2>Практические задания</h2>
        <ul>
        {% for ass in module.assignments.all %}
          <li><a href="{% url 'student_assignment_submit' ass.id %}">{{ ass.title }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
