{% extends "base.html" %}

{% block title %}Ответы на {{ assignment.title }}{% endblock %}

{% block content %}
  <h1>Ответы на {{ assignment.title }}</h1>
  <ul>
  {% for sub in submissions %}
    <li>
      {{ sub.student.get_full_name|default:sub.student.username }} - {{ sub.get_status_display }} -
      <a href="{{ sub.file.url }}">Файл</a> -
      <a href="{% url 'submission_status_update' sub.id %}">Изменить статус</a>
    </li>
  {% empty %}
    <li>Ответов пока нет.</li>
  {% endfor %}
  </ul>
{% endblock %}
