{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Эдука{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo">Эдука</a>
      <ul class="menu">
        {% if request.user.is_authenticated %}
          {% if perms.courses.view_course %}
            <li><a href="{% url 'manage_course_list' %}">Управление курсами</a></li>
          {% endif %}
          {% if perms.courses.add_course %}
            <li><a href="{% url 'course_create' %}">Создать курс</a></li>
          {% endif %}
          <li><a href="{% url 'student_course_list' %}">Мои курсы</a></li>
          <li>
            <form action="{% url "logout" %}" method="post">
              <button type="submit">Выйти из системы</button>
              {% csrf_token %}
            </form>
          </li>
        {% else %}
          <li><a href="{% url "login" %}">Войти</a></li>
        {% endif %}
      </ul>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    {% block include_js %}
    {% endblock %}
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        // DOM loaded
        {% block domready %}
        {% endblock %}
      })
    </script>
  </body>
</html>
