{% extends "base.html" %}
{% load course %}

{% block title %}
Модуль {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}

{% block content %}
{% with course=module.course %}
  <h1>Курс "{{ course.title }}"</h1>
  <div class="contents">
    <h3>Модули</h3>
    <ul id="modules">
      {% for m in course.modules.all %}
        <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
          <a href="{% url "module_content_list" m.id %}">
            <span>
              Модуль <span class="order">{{ m.order|add:1 }}</span>
            </span>
            <br>
            {{ m.title }}
          </a>
        </li>
      {% empty %}
        <li>Модулей пока нет.</li>
      {% endfor %}
    </ul>
    <p><a href="{% url "course_module_update" course.id %}">
      Редактирование модулей</a></p>
  </div>
  <div class="module">
    <h2>Модуль {{ module.order|add:1 }}: {{ module.title }}</h2>
    <h3>Уроки модуля:</h3>
    <ul>
      {% for lesson in module.lessons.all %}
        <li>
          <a href="{% url 'lesson_step_list' lesson.id %}">
            Урок {{ lesson.order|add:1 }}: {{ lesson.title }}
          </a>
        </li>
      {% empty %}
        <li>Уроков пока нет.</li>
      {% endfor %}
    </ul>
    <p><a href="{% url 'module_lesson_update' module.id %}">Редактирование уроков</a></p>
    <h3>Тесты модуля:</h3>
    <ul>
      {% for test in module.tests.all %}
        <li>
          <a href="{% url 'test_question_update' test.id %}">
            Тест {{ test.order|add:1 }}: {{ test.title }}
          </a>
        </li>
      {% empty %}
        <li>Тестов пока нет.</li>
      {% endfor %}
    </ul>
    <p><a href="{% url 'module_test_update' module.id %}">Редактирование тестов</a></p>
    <h3>Практические задания модуля:</h3>
    <ul>
      {% for ass in module.assignments.all %}
        <li>
          {{ ass.order|add:1 }}. {{ ass.title }}
        </li>
      {% empty %}
        <li>Практических заданий пока нет.</li>
      {% endfor %}
    </ul>
    <p><a href="{% url 'module_assignment_update' module.id %}">Редактирование практических заданий</a></p>
  </div>
{% endwith %}
{% endblock %}

{% block include_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.13.3/html5sortable.min.js"></script>
{% endblock %}

{% block domready %}
  var options = {
      method: 'POST',
      mode: 'same-origin'
  }

  const moduleOrderUrl = '{% url "module_order" %}';

  sortable('#modules', {
    forcePlaceholderSize: true,
    placeholderClass: 'placeholder'
  })[0].addEventListener('sortupdate', function(e) {

    modulesOrder = {};
    var modules = document.querySelectorAll('#modules li');
    modules.forEach(function (module, index) {
      // update module index
      modulesOrder[module.dataset.id] = index;
      // update index in HTML element
      module.querySelector('.order').innerHTML = index + 1;
    });

    // add new order to the HTTP request options
    options['body'] = JSON.stringify(modulesOrder);

    // send HTTP request
    fetch(moduleOrderUrl, options)
  });

{% endblock %}
