{% extends "base.html" %}

{% block title %}
Редактировать "{{ course.title }}"
{% endblock %}

{% block content %}
  <h1>Редактировать "{{ course.title }}"</h1>
  <div class="module">
    <h2>Модули курса</h2>
    <form method="post">
      {{ formset.management_form }}
      {% csrf_token %}
      <ul id="course-modules">
        {% for form in formset %}
          <li>{{ form.as_p }}</li>
        {% endfor %}
      </ul>
      <input type="submit" value="Сохранить модули">
    </form>
  </div>
{% endblock %}
