{% extends "base.html" %}

{% block title %}Вопросы теста {{ test.title }}{% endblock %}

{% block content %}
  <h1>Вопросы теста "{{ test.title }}"</h1>
  <form method="post">
    {{ formset.management_form }}
    {% csrf_token %}
    <ul id="test-questions" data-prefix="{{ formset.prefix }}">
      {% for form in formset %}
        <li>
          {{ form.text.label_tag }} {{ form.text }}
          {% if form.fields.DELETE %}
            <label>{{ form.DELETE }} {{ form.DELETE.label }}</label>
          {% endif %}
          {% if form.instance.pk %}
            <p>
              <a href="{% url 'question_answer_update' form.instance.id %}">Ответы</a>
            </p>
          {% endif %}
        </li>
      {% endfor %}
      <li id="empty-form" class="hidden">
        {{ formset.empty_form.text.label_tag }} {{ formset.empty_form.text }}
        {% if formset.empty_form.fields.DELETE %}
          <label>{{ formset.empty_form.DELETE }} {{ formset.empty_form.DELETE.label }}</label>
        {% endif %}
      </li>
    </ul>
    <a href="#" id="add-question" class="secondary-button">Добавить вопрос</a>
    <input type="submit" value="Сохранить вопросы">
  </form>
{% endblock %}

{% block domready %}
  document.querySelector('#add-question').addEventListener('click', function(e) {
    e.preventDefault();
    const container = document.querySelector('#test-questions');
    const prefix = container.dataset.prefix;
    const totalForms = document.querySelector('#id_' + prefix + '-TOTAL_FORMS');
    const formCount = parseInt(totalForms.value, 10);
    const empty = document.querySelector('#empty-form');
    const newForm = document.createElement('li');
    newForm.innerHTML = empty.innerHTML.replace(/__prefix__/g, formCount);
    container.insertBefore(newForm, empty);
    totalForms.value = formCount + 1;
  });
{% endblock %}
